*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Monaco", Monospace;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("/images/bmsiBG.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 200px;
    width: 400px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

h1{
    align-items: center;
    color: rgb(158, 31, 31);
}

.btn{
    font-size: 20px;
    margin-top: 20px;
    height: 50px;
    width: 100px;
    background-color: rgb(158, 31, 31);
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    border-radius: 10px;
    border: none;
}