* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Monaco", Monospace;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8))
    , url("/images/bmsiBG.jpg");
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    background: rgb(225, 90, 88);
    width: 800px;
    height: 600px;
    border-radius: 30px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
}

.left-panel {
    background-color: blue;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.illustration img {
    max-width: 90%;
    height: auto;
}

.right-panel {
    
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-title {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-bottom: 1rem;
}

.form-container p {
    text-align: center;
    color: #555;
    margin-bottom: 1.5rem;
    font-size: 1rem;
}

.input-group {
    position: relative;
    margin-bottom: 1.5rem;
}



.input-group input {
    width: 100%;
    padding: 10px 15px 10px 35px;
    font-size: 1rem;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.input-group input:focus {
    outline: none;
    border-color: #2a74e4;
}

.btn {
    background-color: #2a74e4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #235bbf;
}